/*** CSS Tutorial: Color page ***/

/* page font */
body {
    font: 16px "Comic Sans MS", cursive;
    background: url("Blue-rule.png");

}

/* paragraphs */

#first {
    font-style: italic;
}

strong {
    color: #f00; /* red */
    background-color: #ddf; /* pale blue */
    font: 200% serif;
}

.carrot {
    color: #fa0; /* orange */
}

.spinach {
    color: #080; /* dark green */
}

p {
    color: #00f; /* blue */
}

p:before{
    content: url("Yellow-pin.png");
}
