/* The variables that control the margins of the webpage */
body {
  font: 24px Helvetica;
  background: #999;
}
/* Controls how the flexboxes are made and how they look */
#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
#main article {
  margin: 0px;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 0pt;
  background: #dd8;
  flex: 3 1 60%;
  order: 2;
}
#main nav {
  margin: 0px;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 0pt;
  background: #ccf;
  flex: 1 6 20%;
  order: 1;
  text-align: right;
}
#main aside {
  margin: 0px;
  padding: 25px;
  border: 1px solid #000;
  border-radius: 0pt;
  background: #ccf;
  flex: 1 6 20%;
  order: 3;
  font-style: italic;
}
header {
  display: block;
  margin: 0px;
  padding: 25px;
  min-height: 100px;
  border: 1px solid #000;
  border-radius: 0pt;
  background: #feb;
  font-weight: bold;
  font-size: 40px;
}
footer {
  display: block;
  margin: 0px;
  padding: 25px;
  min-height: 100px;
  border: 1px solid #000;
  border-radius: 0pt;
  background: #feb;
  font-weight: lighter;
  font-size: 15px;
}
/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }
  #main > nav,
  #main > aside,
  header,
  footer {
    min-height: 50px;
    max-height: 50px;
  }
  #main > nav {
    text-align: left;
  }
}
